services:
  - type: web
    name: n8n
    env: docker
    image:
      url: n8nio/n8n:latest
    plan: free
    autoDeploy: true
    envVars:
      - key: GENERIC_TIMEZONE
        value: America/Bogota # <-- Cambia esto si es necesario
      - key: WEBHOOK_URL
        fromService:
          type: web
          name: n8n
          envVarKey: RENDER_EXTERNAL_URL
    disk:
      name: n8n-data
      mountPath: /home/node/.n8n
      sizeGB: 1
