services:
  - type: web
    name: n8n-service
    plan: free
    runtime: image
    image:
      url: docker.io/n8nio/n8n:latest
    envVars:
      - key: GENERIC_TIMEZONE
        value: America/Bogota
      - key: WEBHOOK_TUNNEL_URL
        value: https://n8n-service-y0ej.onrender.com
