services:
  - type: web
    name: n8n
    env: docker
    image:
      url: n8nio/n8n:latest
    plan: free
    autoDeploy: true
    envVars:
      - key: GENERIC_TIMEZONE
        value: America/Bogota

